/* Layout for inputs */
.input-row {
  display: grid;
  grid-template-columns: 2fr 1fr; /* weight bigger, calendar smaller */
  gap: 12px;
  margin-bottom: 15px;
}

/* Weight input */
.input-row input[type="number"] {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}



/* Date input (keep native behavior) */
.input-row input[type="date"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
/* Dark date input */
.input-row input[type="date"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;

  background-color: #1f2937; /* dark */
  color: #ffffff;            /* white text */

  cursor: pointer;
}

/* Fix calendar icon (make it white) */
.input-row input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

/* Centered Add button */
.submit-btn {
  display: block;
  margin: 0 auto;     
  width: 60%;         
  background: #2ea043;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}
